#Python Crash Course Pt. 1; DataTypes

## Standard Datatypes

The 4 main standard data types in python are: `int`, `float`, `str` and `bool`

In [1]:
type(100), type(2.5), type('Hello World'), type(True)

(int, float, str, bool)

Python is a dynamically typed language (i.e. data types are automatically inferred at runtime)

In [2]:
x = 42
x

42

## Numerical Operations

Built-in operators include: `+`, `-`, `*`, `/`, `**` (exponent), `%` (modulo), `//` (integer division)

In [3]:
3 % 2 # modulo (remainder)

1

In [4]:
9**2 # exponent

81

In [5]:
58.9 // 10 # also known as a floor division (divide and round down)
           # note: the result of any calculation that involves floats or division is a float

5.0

In [6]:
int(58.9//10) # type casting to an int

5

Operators can be combined with assignment

In [7]:
x = 5

x += 6 # equivalent to x = x + 6
x

11

Order of operations follows traditional operator precedence (https://en.wikipedia.org/wiki/Order_of_operations)

In [8]:
2 + 3 * 4 # outputs 14, not 20

14

In [9]:
(2 + 3) * 4 # enforcing an intended order using brackets

20

## Strings

`+` can be used to concat strings

In [10]:
'Data ' + 'Mining'

'Data Mining'

But both must be strings, otherwise you must type cast to `str`

In [11]:
course = 'CSEN'
code = 911

course + str(code)

'CSEN911'

Strings have many useful functions built-in, a few examples include...

_(Link to full documentation of Python string methods: https://docs.python.org/3/library/stdtypes.html#string-methods)_

In [12]:
# Uppercase all letters
'An Example String'.upper()

'AN EXAMPLE STRING'

In [13]:
# Lowercase all letters
'An Example String'.lower()

'an example string'

In [14]:
# Strip trailing whitespaces
'              An Example String       '.strip()

'An Example String'

In [15]:
# Replace certain characters
'An Example String'.replace(' ', '_')

'An_Example_String'

## String Formatting

In [16]:
# As opposed to the traditional method of concatenation
name = 'World'

'Hello ' + name + '!'

'Hello World!'

In [17]:
# Substitute/format part of a string with a variable
name = 'World'

'Hello {}!'.format(name)

'Hello World!'

In [18]:
# Or alternatively
f'Hello {name}!'

'Hello World!'

In [19]:
# Try substituting/formating parts of a string with multiple variables

Note: by convention, all of python's standard function names are lowercase.

## Boolean and Comparisons

Boolean true and false in python are written: `True`, `False`

Can be combined with the logical operators: `and`, `or`, `not`

In [20]:
print(True and False)
print(True or False)
print(not False)

False
True
True

In [21]:
x = True
y = False


x and not y

True

Comparisons use the following operators: `==` (equal), `!=` (not equal), `<` (less than), `>` (greater than), `<=` (less than or equal), `>=` (greater than or equal)

In [22]:
a = 2
b = 4

print(a == b)
print(a != b)
print(a < b)
print(a > b)
print(a <= b)
print(a >= b)

False
True
True
False
True
False

Numeric types can be compared together

In [23]:
42 == 42.0

True

Strings can also be compared using comparison operators

Note: `<`,`>` comparison works by using [lexicographical ordering](https://stackoverflow.com/questions/4806911/string-comparison-technique-used-by-python) based on the characters' [Unicode value](https://docs.python.org/3/reference/expressions.html#id19)

In [24]:
'abc' == 'abc'

True

In [25]:
'2019Q1' < '2020Q2'

True

String comparison is case-sensitive by default

In [26]:
'XYZ' == 'xyz'

False

Strings should be typecasted to int/float before comparing with a numeric value

In [27]:
'123' == 123

False

In [28]:
int('123') == 123

True

`None` is the Python equivalent of `null` in Java

In [29]:
billing_address = None

# note the use of 'is' as opposed to '=='
billing_address is None

True

## Python Collections & Data Structures

Python's native data structures are: `list`, `tuple`, `dict` and `set`

In [30]:
lst = [10, 20, 30, 40, 50, 60] # square brackets: a list (mutable, variable size, can be modified)
tup = (10, 20, 30, 40, 50, 60) # round brackets: a tuple (immutable, fixed size, cannot be modified)
dct = {"January": 1, "February": 2, "March": 3} # curly braces with keys: a dictionary/dict (mutable, variable size, can be modified)

### Lists

In [31]:
lst = [10, 20, 30, 40, 50, 60] # square brackets: a list (mutable)

Getting the length of an array (number of elements it contains)

In [32]:
len(lst)

6

Accessing elements in arrays/tuples/sets can be done using position indexing

In [33]:
lst[0]

10

In [34]:
lst[-1] # getting the last element using negative indexing

60

Python also natively supports slicing using the format: `array[start:stop:step]`

Let's try accessing the first 3 elements

In [35]:
lst[:3] # start is zero by default, so it can be omitted; the stop index is always excluded; and step is 1 by default, so it can be omitted

[10, 20, 30]

Accessing from the 4th element till the end

In [36]:
lst[3:]

[40, 50, 60]

Getting every other element

In [37]:
# step=2
lst[::2]

[10, 30, 50]

In [38]:
# step=-1 (Reversing the array)
lst[::-1]

[60, 50, 40, 30, 20, 10]

Assigning a new value to a specific array position

In [39]:
lst[0] = 99
lst

[99, 20, 30, 40, 50, 60]

We can add elements to the array using the `append` instance function

In [40]:
lst.append(70)
lst

[99, 20, 30, 40, 50, 60, 70]

`+` operator can be used to concat arrays

In [41]:
lst + [100, 200, 300]

[99, 20, 30, 40, 50, 60, 70, 100, 200, 300]

`*` operator can be used to repeat arrays

In [42]:
[1,2] * 10

[1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2]

Note: assignment never copies data; like Java/C, you pass on a pointer.

In [43]:
a = [1,2,3,4]
b = a
b.append(5)
print('Is b the same object as a?', a is b)
print('original array:         ', a)
print('array we assigned to b: ', b)

Is b the same object as a? True
original array:          [1, 2, 3, 4, 5]
array we assigned to b:  [1, 2, 3, 4, 5]

In [44]:
a = [1,2,3,4]
# use the copy instance method to copy the list instead
b = a.copy()
b.append(5)
print('Is b the same object as a?', a is b)
print('original array:         ', a)
print('array we assigned to b: ', b)

Is b the same object as a? False
original array:          [1, 2, 3, 4]
array we assigned to b:  [1, 2, 3, 4, 5]

Collections can be nested

As an example, if the following 3x3 matrix is stored in a variable called `m`

|     |     |     |
| --- | --- | --- |
| 1   | 2   | 3   |
| 4   | 5   | 6   |
| 7   | 8   | 9   |

Specific values can be indexed using the pattern `m[row][column]`

|           |           |           |
| --------- | --------- | --------- |
| `m[0][0]` | `m[0][1]` | `m[0][2]` |
| `m[1][0]` | `m[1][1]` | `m[1][2]` |
| `m[2][0]` | `m[2][1]` | `m[2][2]` |

In [45]:
# Side note: code within brackets can be written over several lines
m = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
m

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [46]:
m[0][1] # first row, second column

2

**Exercise Break**

Solve Exercise(s):  2, 3 & 4

### Tuples

In [47]:
tup = (10,20,30,40,50,60)

Tuples (and strings) can be sliced and indexed like lists.

In [48]:
tup[-1] # last element

60

In [49]:
tup[1:3]

(20, 30)

In [50]:
tup[::-1] # reversing a list/tuple/string using slicing with negative step

(60, 50, 40, 30, 20, 10)

Unlike lists, tuples are **immutable**. Meaning, tuples are fixed (i.e. no appending, deleting or assigning) after creation.

Attempting to assign/append/delete elements throws an error.

_Note: ints, floats, strings, tuples and sets are all examples of immutable data types._

In [51]:
# uncomment the below line and run it to see what happens
# tup[0] = 99

Tuples can be **unpacked** over variables (as long as there are as many variables as there are elements in the tuple). Functions can return multiple values using tuples.

In [52]:
dataset_size = (1000,20)

# unpacking over rows, cols variables
rows, cols = dataset_size

### Dictionaries

In [53]:
months = {"January": 1, "February": 2, "March": 3}

Indexing (accessing an element) is done in dictionaries using the key

In [54]:
months["January"]

1

Assigning a value to a key (if it doesn't exist, it gets created)

In [55]:
months["April"] = 4
months

{'January': 1, 'February': 2, 'March': 3, 'April': 4}

Deleting a key (along with its value) can be done using the `del` statement

In [56]:
months["Mai"] = 5
print("Before deletion: ", months)

del months["Mai"]
print("After deletion: ", months)

Before deletion:  {'January': 1, 'February': 2, 'March': 3, 'April': 4, 'Mai': 5}
After deletion:  {'January': 1, 'February': 2, 'March': 3, 'April': 4}

### Sets

Useful for getting the unique values of a list/tuple

In [57]:
colors = ["White", "Blue", "Silver", "Blue", "Black", "Red", "Red", "Green"]

set(colors)

{'Black', 'Blue', 'Green', 'Red', 'Silver', 'White'}

Python's `set` supports many set operations such as union, intersection, difference, etc. but are outside the scope of this tutorial. See [python's documentation on sets](https://docs.python.org/3/tutorial/datastructures.html#sets) if interested.

## Conditionals

`None`, `0`, and empty strings/lists/dicts/tuples all evaluate to `False`. All other values are `True`.

In [58]:
print(bool(0))
print(bool(""))
print(bool([]))
print(bool({}))
print(bool(()))

False
False
False
False
False

Take a note of the syntax. The colon at the end of the `if` and `else`, as well as the indentation of the code block.

In [59]:
x = 10
if x % 2 == 0:
    print('x is even!')
else:
    print('x is odd!')

x is even!

Else if statements are written using `elif`

In [60]:
x = 10
if x < 0:
    print('x is negative')
elif x > 0:
    print('x is positive')
else:
    print('x is zero')

x is positive

Checking if an element exists in an array can be done using the `in` operator

In [61]:
grades = ['A', 'C', 'B', 'B']

if 'A' in grades:
    print('Nice!')
elif 'B' in grades:
    print('Pretty good!')
else:
    print('Better luck next time')

Nice!

`if` can be used as an inline expression, like Java/C's ternary operator `bool_expr ? val1 : val2`

The inline if-else expression follows the following syntax: `expression_1  if condition  else  expression_2`

In [62]:
day = "Monday"
day_type = "Weekend" if day == "Friday" else "Weekday"
day_type

'Weekday'

In the inline if-else expression above, `Weekend` will be returned if variable `day_type` is equal to `Friday`, or else `Weekday` will be returned

## Loops

### Looping over lists

Looping over an array is possible using a foreach style loop

In [63]:
array = [1,2,3,4,5]

for element in array:
    print(element)

1
2
3
4
5

If you need the indicies, instead of the traditional while loop
```python
i = 0
while i < len(array):
    array[i] * = 2
    i += 1
```
consider the more concise alternative using the built-in `range` function

In [64]:
array = [1,2,3,4,5]

for i in range(len(array)):
    array[i] *= 2
array

[2, 4, 6, 8, 10]

From the documentation, `range` returns an object that produces a sequence of integers from start (inclusive), which is 0 by default, to stop (exclusive) by a certain step, which is  1 by default.

In [65]:
print( range(1,10,2) )
print( list(range(1,10,2)) ) # you can cast it to a list if you want to use it like one

range(1, 10, 2)
[1, 3, 5, 7, 9]

In Jupyter notebooks, you can quickly check the function's documentation by using a `?` instead of the function parameters.

P.S. see what happens when you use `?` on a variable like `array`

In [66]:
range?

### Looping over dictionaries

In [67]:
months = {
    "January": 1,
    "Feburary": 2,
    "March": 3,
    "April": 4,
    "May": 5,
    "June": 6,
    "July": 7,
    "August": 8,
    "September": 9,
    "October": 10,
    "November": 11,
    "December": 12
}

for month_name in months: # looping over keys
    print(month_name)

January
Feburary
March
April
May
June
July
August
September
October
November
December

In [68]:
for month_number in months.values(): # looping over values
    print(month_number)

1
2
3
4
5
6
7
8
9
10
11
12

In [69]:
for month_name, month_number in months.items(): # looping over key and value pairs
    print(month_name, month_number)

January 1
Feburary 2
March 3
April 4
May 5
June 6
July 7
August 8
September 9
October 10
November 11
December 12

**Exercise Break**

Solve Exercise(s): 5, 6, 8, 9 & 10