# Lab 1 Exercises Solution

## Exercise 1

Mini-scenario: you are required to create a unique id for the university semesters

Use string concatenation to combine the given `season` and `year`, and assign it to a variable named `semester`.

In [1]:
season = "Winter"
year = 2025

# solution
semester = season + str(year)
semester

# alternatively (no type casting required using the string formatter)
semester = f"{season}{year}"
semester

'Winter2025'

## Exercise 2

Mini-scenario: as part of data analytics task for quality control, you are looking for instances where a manufactured product has deviated from manufacturing tolerance.

Create a boolean expression that checks if the `product_weight` is **not** within (i.e. between) the `lower_limit` and the `upper_limit`

In [2]:
lower_limit = 12.5
upper_limit = 17.5

product_weight = 15

# solution
product_weight < lower_limit or product_weight > upper_limit

False

## Exercise 3

Mini-scenario: after sorting a particular column in a dataset, you'd like to get the first and last record.

Given a sorted array `data`, access and print out the minimum value and the maximum value of the array using array indexing.

In [3]:
data = [5,2,3,9,7,4,8]
data = sorted(data)

# solution
print(data[0])
print(data[-1])
print(data)

2
9
[2, 3, 4, 5, 7, 8, 9]

## Exercise 4

Mini-scenario: As part of an outlier analysis task, you'd like to re-calculate the average salary without the top and bottom values to see if the analysis is skewed due to extreme values (outliers).

A very small part of this list is provided below. Calculate the average of the middle 80% of the list (i.e. excluding the first 10% of values and the last 10% of values).

In [4]:
salaries = [1200, 15000, 20000, 30000, 35000, 40000, 45000, 50000, 60000, 72000, 144000, 500000]
avg = sum(salaries) / len(salaries)
print("Before removing outliers, the average is ", avg)

# solution
ten_percent = int(len(salaries) * 0.1)
new_salaries = salaries[ten_percent:-ten_percent]
new_avg = sum(new_salaries) / len(new_salaries)

print("After removing outliers, the average is ", new_avg)

Before removing outliers, the average is  84350.0
After removing outliers, the average is  51100.0

## Exercise 5

Mini-scenario: you created a function that returns some basic statistics of numerical data. The function returns a tuple in the form `(mean, median, maximum, minimum)`

Given `stats`, use **tuple unpacking** to initialize the following variables in one line:

`mean`, `median`, `maximum`, `minimum`

In [5]:
stats = (20,15,40,0)

# solution
mean, median, maximum, minimum = stats
mean, median, maximum, minimum

(20, 15, 40, 0)

## Exercise 6

Mini-scenario: you're dealing with a dataset containing flight data, and would like to group the flights by cities, but you only have the terminal codes!

Create a dictionary for the following (subset) of airport codes, which will be used to map the terminal code to the airport's city:

| key | value |
|-|-|
|CAI| Cairo|
|LAX| Los Angeles|
|TYO| Tokyo|
|DXB| Dubai|

In [6]:
# solution
airport_mapping = {
    'CAI': 'Cairo',
    'LAX': 'Los Angeles',
    'TYO': 'Tokyo',
    'DXB': 'Dubai'
}

airport_mapping

{'CAI': 'Cairo', 'LAX': 'Los Angeles', 'TYO': 'Tokyo', 'DXB': 'Dubai'}

Add the following airport codes to the dictionary you created in the previous exercise:

| key | value |
|-|-|
|SXF| Berlin|
|JFK| New York|

In [7]:
# solution
airport_mapping['SXF'] = 'Berlin'
airport_mapping['JFK'] = 'New York'

airport_mapping

{'CAI': 'Cairo',
 'LAX': 'Los Angeles',
 'TYO': 'Tokyo',
 'DXB': 'Dubai',
 'SXF': 'Berlin',
 'JFK': 'New York'}

## Exercise 7

Mini-scenario: you're analyzing transaction data of an ice-cream store chain, and would like to quickly have a look at the kinds of ice-cream that the store sells to better understand the business.

Transaction data is provided in the dict `store_data` below. Retrieve the unique elements under `item`.

In [8]:
store_data = {
    'item': ["Vanilla", "Chocolate", "Mango", "Chocolate", "Hazelnut", "Blueberry", "Vanilla"],
    'tx_id': [12314, 12314, 23133, 39668, 67898, 76870, 90091, 90091],
    'date':['2020-01-01', '2020-01-01', '2020-01-02', '2020-01-05', '2020-01-09', '2020-01-11', '2020-01-20', '2020-01-20']
}

# solution
set(store_data['item'])

{'Blueberry', 'Chocolate', 'Hazelnut', 'Mango', 'Vanilla'}

## Exercise 8

Mini-scenario: You have a dataset containing information about the the GDP and population of some selected countries in 2019. Unfortunately, the data is stored in a dict of lists, and your dev environment is missing the `pandas` library used for dataset loading and manipulation, so you have to access data manually.

Given a dictionary `world_stats` with the following keys: 'Country', 'GDP' and 'Population', programmatically search for and print out the GDP for Egypt.

Hint: use the `index` instance method ([python documentation](https://docs.python.org/3/tutorial/datastructures.html)) to get the index of a specific element in a list.

_Note: GDP values are provided in billions of US dollars_

In [9]:
world_stats = {
    'Country':    ['United States', 'Romania',    'China',  'Egypt', 'Germany', 'Greece'],
    'GDP':        [22200          , 263.13   ,   15470   ,   331.36,      4160, 230.50  ],
    'Population': [331002651      , 19237691 , 1439323776, 102334404, 83783942, 10423054]
}

# solution
eg_idx = world_stats['Country'].index('Egypt')
world_stats['GDP'][eg_idx]

331.36

Search for and store the statistics of the United States in a tuple.

Expected output: `('United States', 22200, 331002651)`

In [10]:
# solution
us_idx = world_stats['Country'].index('United States')

(world_stats['Country'][us_idx], world_stats['GDP'][us_idx], world_stats['Population'][us_idx])

('United States', 22200, 331002651)

Add a new row to the `world_stats` dictionary with the following data:

| Country | GDP | Population |
|-|-|-|
| Australia | 1480 | 25499884 |

In [11]:
# solution
world_stats['Country'].append('Australia')
world_stats['GDP'].append(1480)
world_stats['Population'].append(25499884)

world_stats

{'Country': ['United States',
  'Romania',
  'China',
  'Egypt',
  'Germany',
  'Greece',
  'Australia'],
 'GDP': [22200, 263.13, 15470, 331.36, 4160, 230.5, 1480],
 'Population': [331002651,
  19237691,
  1439323776,
  102334404,
  83783942,
  10423054,
  25499884]}

## Exercise 9 - Looping over an array

Given a list containing product prices and the value-added tax (VAT), create a list containing the prices after tax.

In [1]:
prices = [10.0, 23.0, 95.0, 40.0, 65.0]
vat = 0.14

# your code below

final_prices = []

for price in prices:
    final_prices.append(price + price*vat)
    
final_prices

[11.4, 26.22, 108.3, 45.6, 74.1]

## Exercise 10- Dictionary Mapping

Given the (small subset) of airport/city dictionary from lab 1 and a list of airport codes, create a list containing the corresponding city for each airport.

In [4]:
airport_mapping = {
    'CAI': 'Cairo',
    'LAX': 'Los Angeles',
    'TYO': 'Tokyo',
    'DXB': 'Dubai',
    'SXF': 'Berlin',
    'TXL': 'Berlin',
    'BER': 'Berlin',
    'JFK': 'New York'
}

flight_dest = ['CAI', 'TYO', 'TYO', 'BER', 'DXB', 'SXF', 'JFK', 'LAX', 'TXL']

# your code below
city=[]

for destination in flight_dest:
    city.append(airport_mapping[destination])
    
city

['Cairo',
 'Tokyo',
 'Tokyo',
 'Berlin',
 'Dubai',
 'Berlin',
 'New York',
 'Los Angeles',
 'Berlin']